.nav-button form {
    width: 60px;
}

.nav-button button {
    width: 100%;
    height: 30px;
    color: #e2d4c8;
    border: 1px solid #e2d4c8;
    background: #f6f6f6;
}

.admin-content {
    width: 90%;
    margin: 0 auto;
}

.search-form__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.search-form__inner input,
.search-form__inner select {
    padding: 10px;
    color: #938270;
    border: 1px solid #e2d4c8;
    background: #f6f6f6;
}

.search-form__input {
    width: 300px;
    height: 40px;
}

.search-form__gender {
    width: 100px;
    position: relative;
}

.search-form__category {
    width: 180px;
    position: relative;
}

.search-form__gender::after,
.search-form__category::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 10px;
    border: 10px solid transparent;
    border-top: 10px solid #e2d4c8;
    pointer-events: none;
}

.select-form {
    width: 100%;
    height: 40px;
    appearance: none;
}

.search-form__date {
    width: 150px;
    position: relative;
}

.search-form__date::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 10px;
    border: 10px solid transparent;
    border-top: 10px solid #e2d4c8;
    pointer-events: none;
}

.date-form {
    width: 100%;
    height: 40px;
}

.date-form::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.search-form__button-submit {
    width: 100px;
    height: 40px;
    padding: 10px;
    border: none;
    background: #938270;
    color: #fff;
    cursor: pointer;
}

.search-form__button-reset {
    width: 100px;
    height: 40px;
    margin-left: 20px;
    padding: 10px;
    border: none;
    background: #d9c6b5;
    color: #fff;
    cursor: pointer;
}

.contact-list__topper {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.export-button {
    width: 120px;
}

.export-button button {
    width: 100%;
    height: 30px;
    border: 1px solid #e2d4c8;
    background: #f6f6f6;
    color: #938270;
}

.page-box {
    display: flex;
    gap: 0;
    border: 1px solid #938270;
}

.page-box > span,
.page-box > a {
    border: 1px solid #938270;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.page-box > span {
    background: #938270;
    color: #fff;
}

.page-box > a {
    color: #938270;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.contact-list {
    width: 100%;
    margin-bottom: 20px;
}

.contact-table {
    width: 100%;
    text-align: left;
    border: 1px solid #938270;
}

.contact-table__heading {
    background: #938270;
    color: #fff;
    height: 50px;
}

.contact-table__content {
    border-bottom: 1px solid #938270;
    height: 50px;
    color: #938270;
}

.contact-table__content:hover {
    background: #f6f6f6;
}

th, td {
    padding: 0 20px;
}

.button-detail {
    width: 60px;
    height: 30px;
    display: inline-block;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: #e2d4c8;
    border: 1px solid #e2d4c8;
    background: #f6f6f6;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: white;
    border: 1px solid #938270;
    box-shadow: 3px 3px 3px #e2d4c8;
    padding: 50px 20px;
    width: 60%;
    position: relative;
    text-align: left;
}

.modal-table {
    width: 100%;
    margin: 20px 10px;
    color: #938270;
}

.modal-table tr {
    height: 40px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    color: #938270;
    border: 1px solid #938270;
    border-radius: 50%;
}

.delete-form__button {
    margin-top: 50px;
    text-align: center;
}

.delete-form__button button {
    border: none;
    background: #ba370d;
    color: #fff;
    width: 60px;
    height: 30px;
}