svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    /* 非表示 */
    pointer-events: none;
    /* 非表示でもクリックされない */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    position: relative;
    z-index: 1010;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    z-index: 1020;
}