body {
    font-family:
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
}

.header {
    border-bottom: 0.5px solid #f1ece6;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.header__inner {
    padding: 20px 0;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    text-decoration: none;
    font-size: 28px;
}

.header__nav {
    position: absolute;
    right: 30px;
}

.header__logo, .title {
    color: #938270;
    font-family: "Times New Roman", "Georgia", serif;
}

.title {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: normal;
}

