.nav-button {
    width: 60px;
}

.nav-button button {
    width: 100%;
    height: 30px;
    color: #e2d4c8;
    border: 1px solid #e2d4c8;
    background: #f6f6f6;
}

main {
    background: #f1ece6;
    padding-bottom: 20px;
}

.register-form__content {
    width: 500px;
    background: #fff;
    margin: 0px auto 30px;
    padding: 50px;
    align-items: center;
}

.form {
    text-align: center;
}

.form__group-title {
    height: 30px;
    color: #938270;
    font-weight: bold;
    text-align: left;
}

.form__input--text {
    width: 100%;
}

.form__input--text input {
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    background: #f4f4f4;
    color: #938270;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 120px;
    height: 40px;
    border: none;
    background: #938270;
    color: #fff;
    cursor: pointer;
}